{% extends "base.html" %}
{% block content %}

<div class="page-header">
  <h1>{{ fair.name }}</h1>
  {% if admin %}
    <a href="/fairs/{{ fair.id }}/edit" class="btn btn-sm btn-warning">{{ _('EDIT') }}</a>
  {% end %}
</div>

<div class="layout-two-col">
  <div class="left">
    <h2>:material/location_on: {{ _('LOCATIONS') }}</h2>
    {% for location in fair.locations %}
      <p>{{ [
        location.street, location.area, location.city,
        location.postal_code, location.state, location.country
      ] }}
      </p>
    {% end %}

    {% if fair.location.lat and fair.location.lng %}
      <iframe 
        width="100%" height="250" frameborder="0" style="border:0"
        src="https://maps.google.com/maps?q={{ fair.location.lat }},{{ fair.location.lng }}&z=13&output=embed"
        allowfullscreen>
      </iframe>
    {% end %}

    <h2>:material/calendar_month: {{ _('DATES') }}</h2>
    <ul>
      <li><strong>{{ _('FAIR_FROM_DATE') }}:</strong> {{ fair.start_date.strftime('%d %B %Y') }}</li>
      <li><strong>{{ _('FAIR_UNTIL_DATE') }}:</strong> {{ fair.end_date.strftime('%d %B %Y') }}</li>
      <li><strong>{{ _('FAIR_FOR_DATE') }}:</strong> {{ (fair.end_date - fair.start_date).days }} {{ _('DAYS') }}</li>

      {% if fair.fair_incoming %}
        <li><strong>{{ _('FAIR_DAYS_BEFORE_THE_FAIR') }}:</strong> {{ fair.days_before_start_date }} {{ _('DAYS') }}</li>
      {% end %}
      {% if fair.fair_available_today %}
        {% if fair.days_before_end_date %}
          <li><strong>{{ _('FAIR_FOR_DATE') }}:</strong> {{ fair.days_before_end_date }} {{ _('DAYS') }}</li>
        {% else %}
          <li><strong>{{ _('FAIR_LAST_DAY') }}</strong></li>
        {% end %}
      {% end %}
    </ul>
  </div>

  <div class="right">
    {% if fair.official_ad_page %}
      <img src="{{ fair.official_ad_page }}" alt="Official Ad" class="img-fluid mb-3">
    {% end %}
    {% if fair.image %}
      <img src="{{ fair.image }}" alt="Fair Image" class="img-fluid">
    {% end %}
  </div>
</div>

<hr>

<h2>:material/link: {{ _('FAIR_VIEW_SOURCES_AND_USEFUL_LINKS') }}</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>{{ _('FAIR_URL_TYPE') }}</th>
      <th>{{ _('FAIR_URL') }}</th>
    </tr>
  </thead>
  <tbody>
    {% if fair.official_ad_page %}
    <tr>
      <td>{{ _('FAIR_AD_URL') }}</td>
      <td><a href="{{ fair.official_ad_page }}">{{ fair.official_ad_page }}</a></td>
    </tr>
    {% end %}
    {% if fair.city_event_page %}
    <tr>
      <td>{{ _('FAIR_CITY_PAGE') }}</td>
      <td><a href="{{ fair.city_event_page }}">{{ fair.city_event_page }}</a></td>
    </tr>
    {% end %}
    {% if fair.facebook_event_page %}
    <tr>
      <td>{{ _('FAIR_FACEBOOK_EVENT_PAGE_URL') }}</td>
      <td><a href="{{ fair.facebook_event_page }}">{{ fair.facebook_event_page }}</a></td>
    </tr>
    {% end %}
    {% if fair.walk_tour_video %}
    <tr>
      <td>{{ _('FAIR_WALKTOUR_VIDEO') }}</td>
      <td><a href="{{ fair.walk_tour_video }}">{{ fair.walk_tour_video }}</a></td>
    </tr>
    {% end %}

    {% for url in fair.sources %}
    <tr>
      <td>{{ _('FAIR_VIEW_OTHER') }}</td>
      <td><a href="{{ url }}">{{ url }}</a></td>
    </tr>
    {% end %}
  </tbody>
</table>

<hr>

<h2>{{ _('FAIR_LIST_OF_ATTRACTIONS') }}</h2>
<div class="fair-attractions">
  {% for ride in fair.attractions %}
    {% if ride %}
      {% include "snippets/ride_item.html" %}
    {% end %}
  {% end %}
</div>

{% end %}
