{% extends "base.html" %}
{% block content %}
  <h1>Create Fair</h1>

  <form method="POST">
    <h3>Fair Info</h3>
    Name: <input name="name" value=""><br>
    Start Date: <input type="date" name="start_date" value=""><br>
    End Date: <input type="date" name="end_date" value=""><br>

    <h3>Location</h3>
    Street: <input name="street" value=""><br>
    Area: <input name="area" value=""><br>
    City: <input name="city" value=""><br>
    Postal Code: <input name="postal_code" value=""><br>
    State: <input name="state" value=""><br>
    Country: <input name="country" value=""><br>
    Lat: <input name="lat" value=""><br>
    Lng: <input name="lng" value=""><br>

    <h3>Rides</h3>
    <select name="rides" multiple>
      {% for known_rides in rides_map %}
        <option value="{{ known_rides['key'] }}">{{ known_rides['value'] }}</option>
      {% end %}
    </select>

    <h3>Videos & Sources</h3>
    Walk Tour Video: <input name="walk_tour_video" value=""><br>
    Official Ad Page: <input name="official_ad_page" value=""><br>
    Facebook Event Page: <input name="facebook_event_page" value=""><br>
    City Event Page: <input name="city_event_page" value=""><br>

    <br><button type="submit">Submit</button>
  </form>
{% end %}