{% extends "base.html" %}
{% block content %}
  <h1>Location Management</h1>

  <form method="GET">
    <input type="text" name="search" value="{{ search }}" placeholder="Search location...">
    <button type="submit">Search</button>
  </form>

  <hr>

  <h2>Add a New Location</h2>
  <form method="POST">
    <div style="display: flex; gap: 2em;">
      <div>
        Street: <input name="street"><br>
        Area: <input name="area"><br>
        Latitude*: <input name="lat"><br>
        Longitude*: <input name="lng"><br>
      </div>
      <div>
        City*: <input name="city"><br>
        Postal Code*: <input name="postal_code"><br>
        State*: <input name="state"><br>
        Country*: <input name="country" value="France"><br>
      </div>
    </div>
    <button type="submit">Submit</button>
  </form>

  <hr>

  <h2>Existing Locations</h2>
  <ul>
  {% for location in locations %}
    <li>
      {{ ", ".join([x for x in [location.street, location.area, location.city, location.postal_code, location.state, location.country] if x]) }}
      <form method="POST" action="/locations/delete/{{ location.id }}" style="display:inline;">
        <button type="submit">Delete</button>
      </form>
    </li>
  {% end %}
  </ul>
{% end %}