<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">🎡 Tornado Fair</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="/rides">Rides</a></li>
        <li class="nav-item"><a class="nav-link" href="/fairs">Fairs</a></li>
        <li class="nav-item"><a class="nav-link" href="/manufacturers">Manufacturers</a></li>
        <li class="nav-item"><a class="nav-link" href="/locations">Locations</a></li>
      </ul>
    </div>
  </div>
</nav>